@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #09090b;
}

html {
  scroll-behavior: smooth;
}




/* Reduce animation on low-end devices */
@media (prefers-reduced-motion: reduce) {

  .globe-animation,
  .marquee,
  .animated {
    animation-play-state: paused !important;
  }
}